<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czl.system.mapper.ClockMapper">

    <resultMap id="ClockMap" type="com.czl.model.system.Clock" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        clock_id, user_id, `name`, sex, work_id, clock_time
    </sql>

    <select id="selectPage" resultMap="ClockMap">
        select <include refid="columns" />
        from clock
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (`name` like CONCAT('%',#{vo.keyword},'%') or work_id like CONCAT('%',#{vo.keyword},'%'))
            </if>
            <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
                and clock_time >= #{vo.createTimeBegin}
            </if>
            <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
                and clock_time &lt;= #{vo.createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by clock_time desc
    </select>

</mapper>
